<form action="#" method="post">
	{% csrf_token %}
	{%if custom == False %}
		<h2>Training input: 
		<select name='select_training_input'>
			{% for save_dir in save_dir_list %}
			   <option value={{save_dir.directory}}
               {%if save_dir.directory == training_dir %}
                   selected
               {% endif %}
               >
			       {{save_dir.training_input_name}}
			   </option>
			{% endfor %}
		</select>
		<input type="submit" value="Add custom input" name='customOn' />
		
	{%endif%}
	{%if custom == True %}
		<h2>Enter custom text:</h2>
		<textarea name='custom text'></textarea><br>
		<input type="submit" value="Train on custom input" name='trainCustom' />
		<input type="submit" value="Use pretrained input" name='customOff' />
        <br>
        <br>
        <br>
	{% endif %}
	{%if custom == False %}
		<h2>Number of words to add: <input type="number" value={{wordcount}} min='1' name="WordCount"/></h2>
		<br>
		<input type="submit" value="Generate text" name='submit' />
	{%endif%}

    <input type="submit" value="Clear Output" name='reset' />

</form>
<h1>Output: </h1>
<body>{% if result != null %}{{result}}{% endif %}</body>