<form action="#" method="post">
	{% csrf_token %}
	<h2>Training input: 
	<select name='select training input'>
		<option value='Custom'>Custom</option>
		{% for save_dir in save_dir_list %}
		   <option value={{save_dir.directory}}>
		       {{save_dir.training_input_name}}
		   </option>
		{% endfor %}
		{% if selected == 'selected' %}
					<input type="text" name='custom text'/>
		{% endif %}
	</select>

	</h2>
	<h2>Number of words to add: <input type="number" value='1' min='1' name="WordCount"/></h2>
	
	<input type="submit" value="Generate text" name='submit' />
	<input type="submit" value="Reset" name='reset' />
</form>
<h1>Output: </h1>
<body>{% if result != null %}{{result}}{% endif %}</body>